<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sds.mchat"
    android:versionCode="20190211"
    android:versionName="1.2.2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="com.sds.BizAppLauncher.permission.ROUTE" />

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="22" />

    <application
      android:name="com.sds.mchat.MainApplication"
      android:allowBackup="true"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:theme="@style/AppTheme"
      android:networkSecurityConfig="@xml/network_security_config"
    >
        <meta-data android:name="android.content.APP_RESTRICTIONS"
                   android:resource="@xml/app_restrictions" />

        <!--<meta-data android:name="com.wix.reactnativenotifications.gcmSenderId" android:value="184930218130\"/>-->
      <activity
        android:name="com.sds.mchat.MainActivity"
        android:label="@string/app_name"
        android:launchMode="singleTask"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
        android:windowSoftInputMode="adjustResize">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
            <action android:name="android.intent.action.DOWNLOAD_COMPLETE"/>
        </intent-filter>
        <intent-filter>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="mchat" android:host="mchat" /> 
        </intent-filter>
      </activity>
      <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />
      <service android:name="com.sds.mchat.NotificationDismissService"
                android:enabled="true"
                android:exported="false" />
      <service android:name="com.sds.mchat.NotificationReplyService"
               android:enabled="true"
               android:exported="false" />
        <activity
                android:name="com.reactnativenavigation.controllers.NavigationActivity"
                android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
        <activity
                android:name="com.sds.share.ShareActivity"
                android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
                android:label="@string/app_name"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                //  for sharing
                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.sds.spp.ExtendPushMsgReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="com.sec.spp.permission.SEND">

            <intent-filter android:priority="9999">
                <action android:name="dfb27236d365bad3" />   <!-- Input your AppId that issued by SPP admin team -->
            </intent-filter>
        </receiver>

        <receiver android:name="com.sds.spp.ExtendSppDataClearReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
